@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --primary_color: #ffc742;
  --secondary_color: #f2f2f2;
  --project_color: #a1edde;
}
body {
  font-family: Space Mono;
}
#main_container {
  height: 100vh;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
#logo {
  width: 50px;
  justify-self: center;
  fill: white;
}
#sidebar {
  flex: 1;
  flex-direction: column;
  color: white;
  height: 100%;
  gap: 30px;
  padding: 20px;
  background-color: var(--primary_color);
}
#sidebar .container {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
#pages_section {
  grid-template-rows: repeat(6, mincontent);
}
#help_section {
  grid-template-rows: repeat(3, 1fr);
}

#pages_section,
#help_section {
  row-gap: 10px;
}
.pages_icon,
.help_icon {
  fill: white;
  width: 25px;
  justify-self: center;
}
#dashboard_text {
  font-size: clamp(20px, 1vw, 30px);
  font-weight: bold;
}
#dashboard_text,
.pages_text,
.help_text {
  margin: 0;
}

.main_icon {
  width: 20px;
}

/* right side */
#header {
  height: 5vh;
  justify-content: space-between;
}
#header,
#section1 {
  padding: 10px 40px;
}
#search_section {
  align-self: center;
  height: 60%;
  gap: 10px;
  align-items: center;
}
#search_bar {
  background-color: var(--secondary_color);
  border: 0px;
  border-radius: 20px;
  width: 45vw;
  font-family: Space Mono;
  padding: 15px;
}
#search_bar:focus {
  outline-color: #ffc742;
  background-color: white;
}
.profile_pic {
  border-radius: 50%;
}
#profile_section {
  align-content: center;
  gap: 25px;
}
.main_text {
  font-weight: bold;
  align-self: center;
}
#main_content {
  flex-direction: column;
  flex: 5;
}
#section1 {
  justify-content: space-between;
  height: 10vh;
}
#greeting_section {
  gap: 30px;
}
#greet {
  justify-content: center;
  flex-direction: column;
}
#greet p {
  margin: 0;
}
#greet > p + p {
  font-size: clamp(20px, 1vw, 30px);
  font-weight: bold;
}
#buttons {
  gap: 30px;
  align-items: center;
}
button {
  background-color: var(--primary_color);
  border: 0;
  width: 8vw;
  height: 5vh;
  color: white;
  font-weight: 500;
  font-family: Space Mono;
  border-radius: 50px;
  font-size: 1vw;
}
#board {
  padding: 20px;
  background-color: var(--secondary_color);
  flex: 1 0 0;
  gap: 20px;
}
#project_section {
  flex-direction: column;
  flex: 3 0 0;
}
#announcement_section,
#trend_section {
  flex-direction: column;
  flex: 1;
}
#right_section {
  height: 100%;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
#projects {
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  flex: 1;
}
.project {
  flex-direction: column;
  border: 0;
  box-shadow: 1px 1px 5px var(--primary_color);
  border-left: 10px solid var(--project_color);
  border-radius: 10px;
  padding: 35px 20px;
  justify-content: space-between;
  background-color: white;
}
.project p,
.announcement p {
  margin: 0;
}
.project .project_name,
.announcement .announcement_title {
  font-weight: bold;
  font-size: small;
}
.project .project_descripition,
.announcement .announcement_description {
  color: grey;
  font-size: x-small;
}
.project .project_icons_container {
  align-self: flex-end;
  gap: 10px;
}
.project .project_icons {
  width: 1.5vw;
  fill: grey;
}

#announcements,
#trends {
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
}
.announcement {
  padding: 10px 0px;
  border-bottom: 1px solid grey;
}
.announcement:last-child {
  border: 0;
  padding-top: 10px;
}

.trend {
  align-items: center;
  gap: 10px;
}
#trends {
  gap: 10px;
}

.trend_icons {
  width: 3vw;
  padding: 0.5vw;
  height: fit-content;
  border-radius: 50%;
}
.trend_info p {
  margin: 0;
}
.trend_info {
  justify-content: center;
  width: 70%;
}
.trend_title {
  font-weight: bold;
  font-size: small;
}
.trend_description {
  font-weight: lighter;
  font-style: italic;
  color: grey;
  font-size: x-small;
}

#horse_icon {
  fill: tomato;
  background-color: lightblue;
}
#robot_icon {
  fill: rgb(223, 185, 178);
  background-color: rgb(43, 130, 94);
}
#pumpkin_icon {
  fill: orange;
  background-color: brown;
}
