@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --primary_color: #ffc742;
  --secondary_color: #f2f2f2;
}
body {
  font-family: Space Mono;
}
#main_container {
  height: 100vh;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
#logo {
  width: 50px;
  justify-self: center;
  fill: white;
}
#sidebar {
  flex: 1;
  flex-direction: column;
  color: white;
  gap: 30px;
  padding: 20px;
  background-color: var(--primary_color);
}
#sidebar .container {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
#pages_section {
  grid-template-rows: repeat(6, mincontent);
}
#help_section {
  grid-template-rows: repeat(3, 1fr);
}

#pages_section,
#help_section {
  row-gap: 10px;
}
.pages_icon,
.help_icon {
  fill: white;
  width: 25px;
  justify-self: center;
}
#dashboard_text {
  font-size: clamp(20px, 1vw, 30px);
  font-weight: bold;
}
#dashboard_text,
.pages_text,
.help_text {
  margin: 0;
}

.main_icon {
  width: 20px;
}

/* right side */
#header {
  height: 5vh;
  justify-content: space-between;
}
#header,
#section1 {
  padding: 10px 40px;
}
#search_section {
  align-self: center;
  height: 60%;
  gap: 10px;
  align-items: center;
}
#search_bar {
  background-color: var(--secondary_color);
  border: 0px;
  border-radius: 20px;
  width: 45vw;
  font-family: Space Mono;
  padding: 15px;
}
#search_bar:focus {
  outline-color: #ffc742;
  background-color: white;
}
.profile_pic {
  border-radius: 50%;
}
#profile_section {
  align-content: center;
  gap: 25px;
}
.main_text {
  font-weight: bold;
  align-self: center;
}
#main_content {
  flex-direction: column;
  flex: 5;
}
#section1 {
  justify-content: space-between;
  height: 10vh;
}
#greeting_section {
  gap: 30px;
}
#greet {
  justify-content: center;
  flex-direction: column;
}
#greet p {
  margin: 0;
}
#greet > p + p {
  font-size: clamp(20px, 1vw, 30px);
  font-weight: bold;
}
#buttons {
  gap: 30px;
  align-items: center;
}
button {
  background-color: var(--primary_color);
  border: 0;
  width: 8vw;
  height: 5vh;
  color: white;
  font-weight: 500;
  font-family: Space Mono;
  border-radius: 50px;
  font-size: 1vw;
}
#board {
  padding: 20px;
  background-color: var(--secondary_color);
  flex: 1 0 0;
}
#project_section {
  flex-direction: column;
  flex: 3 0 0;
}
#announcement_section,
#trend_section {
  flex-direction: column;
  flex: 1;
}
#right_section {
  flex-direction: column;
  flex: 1;
}
#projects {
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}
.project {
}
